Source: osmpbf
Maintainer: Jochen Topf <jochen@topf.org>
Section: java
Priority: optional
Build-Depends: debhelper (>= 9),
               protobuf-compiler,
               libprotobuf-java,
               ant,
               default-jdk,
               libprotobuf-dev,
               maven-repo-helper
Standards-Version: 3.9.5
Homepage: http://github.com/scrosby/OSM-binary

Package: libosmpbf-java
Architecture: all
Depends: ${misc:Depends}
Description: Java access library for OpenStreetMap PBF file format
 Osmpbf is a Java/C library to read and write OpenStreetMap PBF files.
 PBF (Protocol buffer Binary Format) is a binary file format for OpenStreetMap
 data that uses Google Protocol Buffers as low-level storage.
 .
 This package provides a Java library.

Package: libosmpbf-dev
Architecture: any
Section: libdevel
Depends: libprotobuf-dev,
         ${misc:Depends}
Description: C headers for OpenStreetMap PBF file format
 Osmpbf is a Java/C library to read and write OpenStreetMap PBF files.
 PBF (Protocol buffer Binary Format) is a binary file format for OpenStreetMap
 data that uses Google Protocol Buffers as low-level storage.
 .
 This package provides the C headers to be used in third-party
 applications.

Package: osmpbf-bin
Architecture: any
Section: utils
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: OpenStreetMap PBF file format library - tools
 Osmpbf is a Java/C library to read and write OpenStreetMap PBF files.
 PBF (Protocol buffer Binary Format) is a binary file format for OpenStreetMap
 data that uses Google Protocol Buffers as low-level storage.
 .
 This package provides various tools to deal with OpenStreetMap PBF file
 format.

