Source: osmpbf-dev
Section: libdevel
Priority: optional
Maintainer: Jochen Topf <jochen@topf.org>
Build-Depends: debhelper (>= 7), libprotobuf-dev, protobuf-compiler
Standards-Version: 3.9.1
Homepage: http://wiki.openstreetmap.org/wiki/PBF_Format

Package: osmpbf-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for reading OSM PBF files.
 Interface definition and library for reading binary
 OpenStreetMap data files.
