#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) -C src clean
	$(MAKE) -C tools clean
	mh_clean

override_dh_auto_build:
	ant
	$(MAKE) -C src
	$(MAKE) -C tools

override_dh_auto_install:
	$(MAKE) -C src DESTDIR=$(CURDIR)/debian/libosmpbf-dev PREFIX=/usr install
	$(MAKE) -C tools DESTDIR=$(CURDIR)/debian/osmpbf-bin PREFIX=/usr install

override_dh_installchangelogs:
	dh_installchangelogs -- ReleaseNotes.txt

override_dh_install:
	mh_installjar -plibosmpbf-java -l pom.xml osmpbf.jar
	mh_installpom -plibosmpbf-java pom.xml

